@charset "UTF-8";
/*简单继承*/
.div, .divext {
  border: 1px;
  background-color: red;
}

.divext {
  border-width: 3px;
}

/*关联属性继承*/
.div1, .divext, .div2, .div3 {
  border: 1px;
  background-color: red;
}

.div1.other, .other.divext, .other.div2, .other.div3 {
  background-image: url("hello.jpeg");
}

/*链式继承继承*/
.div1, .divext, .div2, .div3 {
  border: 1px solid #000;
  color: blue;
}

.div2, .div3 {
  color: red;
}

.div3 {
  color: #000;
}

/*伪类继承*/
a:hover, a.hoverlink {
  text-decoration: underline;
}

.hoverlink {
  color: red;
}
