
@import './reset.scss';

$baseFontSize: 17px;
$redColor: #d43d3d;
$blueColor: #2a90d7;
$assetsDir: 'assets';   //目录名 改变 迁移可用 

@mixin sectionStyle {
    margin: {
        left: 15px;
        right: 15px;
    }
    border-bottom: 1px solid rgba(211, 211, 211, 0.6);
    padding: 10px 0;
}

@mixin hotLabel($color) {
    font-size: 14px;
    color: $color;
    border: 1px solid  $color;
}

@mixin line2 {
    overflow: hidden;
    text-overflow: ellipsis;           //文字超出省略
    // white-space: normal !important;    //normal	默认。空白会被浏览器忽略。
    // word-wrap: break-word;          //word-wrap 属性允许长单词或 URL 地址换行到下一行。
    display: -webkit-box;
    -webkit-line-clamp: 2;          //规定显示多少行  
    -webkit-box-orient: vertical;
}

@mixin clearfix {
    &::after{
        visibility: hidden;
        display: block;
        content: " ";
        clear: both;
        height: 0;
    }
}

@mixin commonImg {
    width: 100%;
    border: none;
    display: block;
}

.header {
    height: 45px;
    background-color: $redColor;
    .title_logo {
        width: 100px;
        height: 100%;
        margin: 0 auto;
        background: {
            position: center;
            size: contain;
            repeat: no-repeat;
            image:url($assetsDir +'/wap_logo@3x_581de69e.png');
        }
    }
}

.top_bar {
    background-color: #f4f5f6;
    height: 34px;
    overflow-x: auto;
    overflow-y: hidden;
    .top_menu_list {
        overflow: hidden;
        white-space: nowrap;
        height: 100%;
        line-height: 34px;
        display: inline-block;
    }
    .btn {
        padding: {
            left: 8px;
            right: 8px;
        }
        font-size: $baseFontSize;
        display: inline-block;
        &.cur {
            color: $redColor;
        }
    }
}

.content_list {
    .section_item{
        @include sectionStyle;
        .title{
            font-size: 20px;
        }
        .item_info_base {
            color: #999;
            font-size: 14px;
        }
        .item_info {
            margin-top: 11px;
            @extend .item_info_base;
        }
        .stick_label {
            @include hotLabel($redColor);
        }
    }
    
    .images-item {
        @extend .section_item;
        .title {
            @include line2;
        }
        .list_image {
            margin-top: 10px;
        }
        .list_img_holder {
            float: left;
            width: 33.33%;
            height: 80px;
            img {
                @include commonImg;
            }
        }
        ul {
            @include clearfix;
        }
    }
    .image-item {
        @extend .section_item;
        .one_image{
            margin-top: 10px;
            height: 195px;
            img{
                @include commonImg;
            }
        }
        .gg_label {
            @include hotLabel($blueColor)
        }
    }
}