/*
Error: Invalid charset directive '@charset': expected string.
        on line 1 of /Users/lvming/Desktop/work/personWork/sass/sourcenew/6/demo.css

1: @charset "UTF-8";
2: .div {
3:   width: 300px;
4: }
5: 
6: /* 加减乘除 *\/

Backtrace:
/Users/lvming/Desktop/work/personWork/sass/sourcenew/6/demo.css:1
/usr/local/lib/ruby/gems/2.5.0/gems/sass-3.7.2/lib/sass/engine.rb:906:in `parse_charset_directive'
/usr/local/lib/ruby/gems/2.5.0/gems/sass-3.7.2/lib/sass/engine.rb:834:in `parse_directive'
/usr/local/lib/ruby/gems/2.5.0/gems/sass-3.7.2/lib/sass/engine.rb:654:in `parse_line'
/usr/local/lib/ruby/gems/2.5.0/gems/sass-3.7.2/lib/sass/engine.rb:539:in `build_tree'
/usr/local/lib/ruby/gems/2.5.0/gems/sass-3.7.2/lib/sass/engine.rb:558:in `block in append_children'
/usr/local/lib/ruby/gems/2.5.0/gems/sass-3.7.2/lib/sass/engine.rb:557:in `each'
/usr/local/lib/ruby/gems/2.5.0/gems/sass-3.7.2/lib/sass/engine.rb:557:in `append_children'
/usr/local/lib/ruby/gems/2.5.0/gems/sass-3.7.2/lib/sass/engine.rb:417:in `_to_tree'
/usr/local/lib/ruby/gems/2.5.0/gems/sass-3.7.2/lib/sass/engine.rb:290:in `render'
/usr/local/lib/ruby/gems/2.5.0/gems/sass-3.7.2/lib/sass/exec/sass_scss.rb:396:in `run'
/usr/local/lib/ruby/gems/2.5.0/gems/sass-3.7.2/lib/sass/exec/sass_scss.rb:63:in `process_result'
/usr/local/lib/ruby/gems/2.5.0/gems/sass-3.7.2/lib/sass/exec/base.rb:50:in `parse'
/usr/local/lib/ruby/gems/2.5.0/gems/sass-3.7.2/lib/sass/exec/base.rb:18:in `parse!'
/usr/local/lib/ruby/gems/2.5.0/gems/sass-3.7.2/bin/sass:13:in `<top (required)>'
/usr/local/bin/sass:23:in `load'
/usr/local/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid charset directive '@charset': expected string.\A         on line 1 of /Users/lvming/Desktop/work/personWork/sass/sourcenew/6/demo.css\A \A 1: @charset \"UTF-8\";\A 2: .div {\A 3:   width: 300px;\A 4: }\A 5: \A 6: /* 加减乘除 */"; }
