$number: 70;
$number2: 71;


$numberPercent: 0.77;

$numberRound: 25.9;

$abs: 3;

/*number*/

.div {
    zoom:percentage($numberPercent);

    zoom:round($numberRound);

    zoom:ceil($numberRound);

    zoom:floor($numberRound);

    zoom:abs($abs);

    zoom:min($number,$number2);

    zoom:max($number,$number2);

    zoom: random(100);
}

/*list*/
/*
$list:(1,'p',3,4,5);
.div {
    zoom: length($list);
    zoom: nth($list,2);

    @debug set-nth($list, 1 ,'x');
    @debug join($list, (6,7,8));

    @debug append($list,'999');

    @debug index($list,'p');
}
*/
/*string*/
$string:'hello';
$stringNo:hello;
/*
$stringUP: 'HELLO';
.div {
    background-image: unquote($string);

    background-image: quote($stringNo);

    background-image: str-length($string);


    @debug str-insert($string,'p',2);

    @debug str-index($string,'l');

    background-image: to-upper-case($string);

    background-image: to-lower-case($stringUP);

}
*/
/*map*/

$map:(top: 1px,left:2px,bottom: 3px,right: 4px);
.div {
    width: map-get($map,top);
    @debug map-remove($map,bottom);

    @debug map-keys($map);
    @debug map-values($map);
    @debug map-has-key($map,abc);
}

@mixin foo($args...) {
    @debug keywords($args);
}

@include foo($arg1:'abc',$arg2:'efg');


/*自定义函数*/
$rem1: 100px;
@function px2rem($px) {
    $rem: 37.5px;

    @debug $px;

    @return ($px/$rem) + rem;
};

.div {
    width: px2rem($rem1);
}