/* 媒体查询 start */

    /* header部分 */
    
    .header-nav-container {
        display: none;
        
    }
    .four-container {
        flex-direction: row;
    }
    .header-nav-container2 {
        display: block;
    }
    @media (max-width: 766px) {
        .header-nav-container {
            display: block;
        }
        .header-nav-container2 {
            display: none;
        }
        .four-container {
            flex-direction: column;
        }
    }

    
    
/* 媒体查询 end */


/* 头部 start */
.header-nav-container {
    position: relative;
    background: #7EA6B1;
    text-align: center;
    height: 5rem;
}

.header-nav-tit {
    display: inline-block;
    height: 100%;
    line-height: 5rem;
    color: white;
    font-size: .8rem;
    margin-left: 1.5rem;
}

.header-nav-box {
    float: right;
    padding: .5rem;
    height: 100%;
    display: flex;
    align-items: center;
}

.header-nav-option {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border: .1rem solid white;
}

.header-nav {
    width: 100%;
    height: 0;
    overflow: hidden;
    background: #7EA6B1;
    text-align: center;
    color: white;
    transition: all 0.5s;
    position: absolute;
    top: 5rem;
}
.header-nav-item {
    height: 1rem;
    line-height: 1rem;
    border-bottom: .05rem solid white; 
}

.nav-container-extended {
    height: 5rem;
}

/* 中等屏幕下头部 */
.header-nav-container2 {
    background: #B2C5CC;
}

.header-nav2 {
    display: flex;
    justify-content: center;
}

.header-nav2-item {
    height: 5rem;
    line-height: 5rem;
    margin: 0 .5rem;
    font-size: .8rem;
    color: #757575;
}

.header-active {
    color: #afafaf;
}

/* 头部 end */

/* 第一区域图片 和 按钮 */
.session-imooc,
.session-container {
    width: 100%;
    height: 15rem;
    background: #B2C5CC;
}

.session-img {
    width: 100%;
    text-align: center;
}

.session-img-imooc {
    width: 5rem;
    height: 5rem;
    margin-top: 2rem;
}

.session-imooc {
    margin-top: 1.25rem;
    color: white;
    height: .5rem;
}

.session-btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 1.5rem;
    padding: .3rem 1rem;
    outline: none;
    border: none;
    background: white;
}

/* 第一区域图片 和 按钮 end */


/* 第二区域 start */
.nav-container,
.nav {
    width: 100%;
    height: 2rem;
}
.nav {
    display: flex;
    align-items: center;
    border-bottom:  1px solid black;
}

.nav-item {
    width: 25%;
    text-align: center;
    color: #bababa;
    font-size: .6rem;
}

.nav-active {
    color: #545454;
}

/* 第二区域 end */



/* 第三区域 start */

.three,
.three-info {
    width: 100%;
    height: 15rem;
}

.three-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: .6rem;
}

.three-paragraph {
    width: 70%;
    margin-top: .75rem;
    color: #bababa;
    line-height: 1rem;
    overflow: hidden;
}


/* 第三区域 end */
/* 第四区域 start */

.four,
.four-container {
    width: 100%;
    height: 2rem;
    background: #f4f4f4;
}

.four-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: .6rem;
}

.four-container>span {
    margin: 0 1.5rem;
    padding: .1rem 0;
}

.four-url {
    color: #bababa;
}
.four-black {
    color: black;
}

/* 第四区域 end */
/* 第五区域 start */

.five,
.five-container {
    width: 100%;
    height: 15rem;
}

.five-container {
    background: url(../images/bg.jpg) no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.five-img {
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.five-container img {
    width: 31%;
    height: 45%;
}

@media (max-width: 766px) {
    .five-container img {
        width: 45%;
        height: 33%;
        margin: .2rem .05rem 0 .05rem;
    }
    .five-img {
        justify-content: center;
    }
}

.five-kecheng {
    font-size: .6rem;
    margin: .5rem 0 .5rem .5rem;
}


/* 第五区域 end */

/* 第六区域 start */

.six,
.six-container {
    width: 100%;
    height: 2rem;
}

.six-container {
    font-size: .6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* 第六区域 end */