html,
body,
div,
span,
object,
button,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
code,
em,
img,
q,
small,
strong,
dd,
dl,
dt,
li,
ol,
ul,
fieldset,
form,
label,
table,
tbody,
tr,
th,
td,
input {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  position: relative;
  width: 100%;
  overflow-x: hidden;
}

ul,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

html {
  background: #fff;
  font-family: 'STHeiti', 'Microsoft YaHei', 'Helvetica', 'Arial', sans-serif;
  -webkit-text-size-adjust: none;
  word-break: break-word;
}

.header {
  height: 45px;
  background-color: #d43d3d;
}
.header .title_logo {
  width: 100px;
  height: 100%;
  margin: 0 auto;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("assets/wap_logo@3x_581de69e.png");
}

.top_bar {
  background-color: #f4f5f6;
  height: 34px;
  overflow-x: auto;
  overflow-y: hidden;
}
.top_bar .top_menu_list {
  white-space: nowrap;
  overflow: hidden;
  height: 100%;
  display: inline-block;
}
.top_bar .btn {
  padding: 8px;
  display: inline-block;
  font-size: 17px;
}
.top_bar .btn.cur {
  color: #d43d3d;
}

.content_list .section_item, .content_list .images-item, .content_list .image-item {
  margin-left: 15px;
  margin-right: 15px;
  border-bottom: 1px solid rgba(211, 211, 211, 0.6);
  padding-top: 10px;
  padding-bottom: 10px;
}
.content_list .section_item .title, .content_list .images-item .title, .content_list .image-item .title {
  font-size: 20px;
}
.content_list .section_item .item_info_base, .content_list .images-item .item_info_base, .content_list .image-item .item_info_base, .content_list .section_item .item_info, .content_list .images-item .item_info, .content_list .image-item .item_info, .content_list .section_item .src, .content_list .images-item .src, .content_list .image-item .src {
  color: #999;
  font-size: 14px;
}
.content_list .section_item .item_info, .content_list .images-item .item_info, .content_list .image-item .item_info {
  margin-top: 11px;
}
.content_list .section_item .stick_label, .content_list .images-item .stick_label, .content_list .image-item .stick_label {
  font-size: 14px;
  color: #d43d3d;
  border: 1px solid #d43d3d;
}
.content_list .images-item .title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  display: box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.content_list .images-item .list_image {
  margin-top: 10px;
}
.content_list .images-item .list_img_holder {
  float: left;
  width: 33.33%;
  height: 80px;
}
.content_list .images-item .list_img_holder img {
  border: none;
  width: 100%;
  display: block;
}
.content_list .images-item ul:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
}
.content_list .image-item .one_image {
  height: 195px;
  margin-top: 10px;
}
.content_list .image-item .one_image img {
  border: none;
  width: 100%;
  display: block;
}
.content_list .image-item .gg_label {
  font-size: 14px;
  color: #2a90d7;
  border: 1px solid #2a90d7;
}
